#footer {
  //background-color: lightgreen;
  min-height: 50vh;
  width: 100%;
}

// --------------------------------------------
// General

.generalComponent {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight);

  @include for-size(phone-only) {
    width: calc(100% - var(--mobile-page-slider-width) * 2);
    height: calc(100% - var(--mobile-nav-height));
    margin: calc(var(--mobile-nav-height) + 20px)
      var(--mobile-page-slider-width) 20px var(--mobile-page-slider-width);
    font-size: var(--mobile-base-font-size);
  }
  @include for-size(tablet-portrait-up) {
    width: calc(100% - var(--tablet-page-slider-width) * 2);
    height: calc(100% - var(--tablet-nav-height));
    margin: calc(var(--tablet-nav-height) + 20px)
      var(--tablet-page-slider-width) 20px var(--tablet-page-slider-width);
    font-size: var(--tablet-base-font-size);
  }
  @include for-size(big-desktop-up) {
    width: calc(100% - var(--desktop-page-slider-width) * 2);
    height: calc(100% - var(--desktop-nav-height));
    margin: calc(var(--desktop-nav-height) + 20px)
      var(--desktop-page-slider-width) 20px var(--desktop-page-slider-width);
    font-size: var(--desktop-base-font-size);
  }
}

.titleSize {
  font-family: var(--main-font-family);
  font-weight: var(--font-weight);

  @include for-size(phone-only) {
    font-size: var(--mobile-title-font-size);
  }
  @include for-size(tablet-portrait-up) {
    font-size: var(--tablet-title-font-size);
  }
  @include for-size(big-desktop-up) {
    font-size: var(--desktop-title-font-size);
  }
}

.handleImage {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  object-position: right;
  overflow: hidden;
}

.fullWidthImage {
  @include for-size(phone-only) {
    width: 100%;
    margin: 5px 0 5px 0;
  }
  @include for-size(tablet-portrait-up) {
    margin: 20px 0 20px 0;
  }
  @include for-size(big-desktop-up) {
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

.bottomImage {
  width: 100%;
  @include for-size(phone-only) {
    height: 70px;
  }
  @include for-size(tablet-portrait-up) {
    height: 200px;
  }
  @include for-size(big-desktop-up) {
    height: 230px;
  }
}
