// --------------------------------------------
// Reusable Card

.handleCardImage {
  width: 100%;
  @include for-size(phone-only) {
    height: 70px;
  }
  @include for-size(tablet-portrait-up) {
    height: 200px;
  }
  @include for-size(big-desktop-up) {
    height: 300px;
  }
}

.card {
  @include for-size(phone-only) {
    margin: 0 5px 0 5px;
  }
  @include for-size(tablet-portrait-up) {
    margin: 0 10px 0 10px;
  }
  @include for-size(big-desktop-up) {
    margin: 0 20px 0 20px;
  }
}

.card:first-child {
  @include for-size(phone-only) {
    margin: 0 5px 0 0;
  }
  @include for-size(tablet-portrait-up) {
    margin: 0 10px 0 0;
  }
  @include for-size(big-desktop-up) {
    margin: 0 20px 0 0;
  }
}

.card:last-child {
  @include for-size(phone-only) {
    margin: 0 0 0 5px;
  }
  @include for-size(tablet-portrait-up) {
    margin: 0 0 0 10px;
  }
  @include for-size(big-desktop-up) {
    margin: 0 0 0 20px;
  }
}

.linkSize {
  word-break: break-all;
}
