#footer {
  //background-color: lightgreen;
  min-height: 50vh;
  width: 100%;
}

.generalDimensions {
  width: var(--desktop-width);
  height: var(--desktop-heigth);
  padding: var(--desktop-padding);
}