a {
  text-decoration: none;
  font-size: var(--base-font-size);
  color: black;
}

a:visited {
  text-decoration: none;
  color: var(--grey-color);
}
a:hover {
  color: var(--orange-color);
}
a:active {
  text-decoration: none;
  color: var(--orange-color);
}