@import "reset";
@import "base";
@import "mixins";
@import "components";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#section1 {
  height: 95vh;
  width: 90vw;
  background-color: pink;
  padding: 5vh 5vw 5vh 5vw;
}

#section2 {
  height: 95vh;
  padding-top: 5vh;
  width: 90vw;
  padding: 5vh 5vw 5vh 5vw;
  background-color: yellow;
}

@media (min-width: 1025px) {
  #section1,
  #section2 {
    height: 90vh;
  }
}
