
@import 'reset';
@import 'base';
@import 'mixins';
@import 'components';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#section1 {
  height: 100vh;
  width: 100vw;
  background-color: pink;
}

#section2 {
  height: 100vh;
  width: 100vw;
  background-color: yellow;
}